header {
    height: 80px;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: #fff;
    align-items: center;
    border-bottom: 1px solid #f0edf3;

    .header-wrap {
        display: flex;
        justify-content: space-between;
        margin: 22px 0;

        .header__logo {
            width: 240px;
            height: 37px;

            img.logo {
                width: 240px;
            }
        }

        .navbar__menu {
            display: flex;
            width: 780px;
            justify-content: space-between;

            .navbar__menu-item {
                padding: 0.5em 1em;
                text-align: right;
                color: #171717;
                line-height: 20px;
                font-size: 16px;
                font-weight: 600;

                &:hover {
                    cursor: pointer;
                    color: #29558e;
                }
            }
        }

        .header__languages {
            width: 80px;
            height: 40px;

            label {
                #languages {
                    display: none;
                }

                .header__selected-language {
                    display: flex;
                    justify-content: space-between;

                    .header__select-lang {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;

                        .flag {
                            height: 28px;
                            width: 28px;
                            border-radius: 50%;
                        }

                        .language {
                            padding: 4px 0;
                            font-size: 16px;
                            line-height: 19px;
                            font-weight: 600;
                        }

                        &:hover {
                            cursor: pointer;
                        }
                    }

                    .header__other-langueges {
                        display: none;
                        position: absolute;
                        margin-left: -0.5em;
                        margin-top: 2.25em;
                        z-index: 999999;
                        box-shadow: 0 4px 8px 0px #aaa;

                        .other-language-item {
                            padding: 8px 16px;
                            background-color: #fff;
                            font-size: 16px;
                            line-height: 19px;
                            font-weight: 600;
                            transition: 0.3s ease-in-out all;

                            &:hover {
                                cursor: pointer;
                                background-color: #29558e;
                                color: #fff;
                            }
                        }
                    }
                }
            }

            #languages:checked~.header__selected-language {
                .header__other-langueges {
                    display: block;
                }
            }
        }
    }
}