header {
    height: 80px;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: #fff;
    align-items: center;
    border-bottom: 1px solid #f0edf3;
    .header-wrap {
        display: flex;
        justify-content: space-between;
        margin: 22px 0;
        .header__logo {
            width: 240px;
            height: 37px;
            img.logo {
                width: 240px;
            }
        }
        .navbar__menu {
            display: flex;
            width: 780px;
            justify-content: space-between;
            .navbar__menu-item {
                padding: 0.5em 1em;
                color: #171717;
                line-height: 20px;
                font-size: 16px;
                font-weight: 600;
                &:hover {
                    cursor: pointer;
                    color: #29558e;
                }
            }
        }
        .header__languages {
            width: 80px;
            height: 40px;
            .header__selected-language {
                display: flex;
                justify-content: space-between;
                .flag {
                    height: 28px;
                    width: 28px;
                    border-radius: 50%;
                }
                label {
                    .language {
                        padding: 4px 0;
                        font-size: 16px;
                        line-height: 19px;
                        font-weight: 600;
                    }
                    #languages {
                        display: none;
                    }
                    .header__other-langueges {
                        display: none;
                        position: absolute;

                        box-shadow: 0 4px 8px 0px #aaa;
                        .other-language-item {
                            padding: 4px 8px;
                            background-color: #fff;
                            font-size: 16px;
                            line-height: 19px;
                            font-weight: 600;
                        }
                    }
                    #languages:checked ~ .header__other-langueges {
                        display: block;
                    }
                }
            }
        }
    }
}
