@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@400;500;600&display=swap");
@import url(/static/staff/icons/remixicon.css);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1440px;
  margin: auto;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 760px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 100%;
    padding: 0 30px;
  }
}

body {
  margin: 0;
  padding: 0;
}

section {
  padding: 45px 0;
}

main {
  background-color: #f3f7fe;
  margin-top: 80px;
  height: auto;
}

a {
  cursor: pointer;
  color: #000;
  text-decoration: none;
}

button {
  font-size: 10.5px;
  line-height: 13px;
  color: #fff;
  text-transform: uppercase;
  background-color: #29558e;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

label.checkbox-container {
  display: block;
}

label.checkbox-container input[type="checkbox"] {
  display: none;
}

label.checkbox-container .checkmark {
  display: block;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 2px;
  border: 2px solid #e7e4e9;
}

label.checkbox-container:hover input ~ .checkmark {
  background-color: #29558e3d;
}

label.checkbox-container:hover input:checked ~ .checkmark {
  background-color: #fff;
}

label.checkbox-container input:checked ~ .checkmark {
  border: 2px solid #29558e;
}

label.checkbox-container .checkmark::after {
  content: "";
  display: none;
}

label.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

label.checkbox-container .checkmark::after {
  position: relative;
  left: 4px;
  top: 0;
  width: 6px;
  height: 10px;
  border: solid #29558e;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.range-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 22px 0;
}

:root {
  --clr-prim: #29558e;
  --clr-box: #f9f9f9;
  --clr-box-dark: #f2f2f2;
  --clr-border: #d9d9d9;
  --txt-clr: #333333;
  --shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
  --cubic: cubic-bezier(0.11, 0.54, 0.33, 1.01);
}

.dual-range {
  --range-size: 3px;
  --circle-size: 16px;
  --range-width: 100%;
  --handle-size: 1.3;
  height: var(--range-size);
  width: var(--range-width);
  background: var(--clr-box-dark);
  border-radius: 50px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.dual-range .highlight {
  position: absolute;
  height: var(--range-size);
  width: calc(calc(var(--x-2) - var(--x-1)) + calc(var(--range-size) * var(--handle-size)));
  left: var(--x-1);
  background: var(--clr-prim);
  z-index: 1;
  border-radius: 50px;
}

.dual-range .handle {
  width: calc(var(--circle-size) * var(--handle-size));
  height: calc(var(--circle-size) * var(--handle-size));
  background: #fff;
  position: absolute;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  border-radius: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
  cursor: -webkit-grab;
  cursor: grab;
}

.dual-range .handle:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.dual-range .handle.left {
  left: var(--x-1);
}

.dual-range .handle.left::after {
  content: attr(data-value);
  top: 30px;
}

.dual-range .handle.right {
  left: var(--x-2);
}

.dual-range .handle.right::after {
  content: attr(data-value);
  top: 30px;
}

.dual-range .handle::after {
  position: absolute;
  font-size: 14px;
  line-height: 17px;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

header {
  height: 80px;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #f0edf3;
}

header .header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 22px 0;
}

header .header-wrap .header__logo {
  width: 240px;
  height: 37px;
}

header .header-wrap .header__logo img.logo {
  width: 240px;
}

header .header-wrap .navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 780px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header-wrap .navbar__menu .navbar__menu-item {
  padding: 0.5em 1em;
  color: #171717;
  line-height: 20px;
  font-size: 16px;
  font-weight: 600;
}

header .header-wrap .navbar__menu .navbar__menu-item:hover {
  cursor: pointer;
  color: #29558e;
}

header .header-wrap .header__languages {
  width: 80px;
  height: 40px;
}

header .header-wrap .header__languages label #languages {
  display: none;
}

header .header-wrap .header__languages label .header__selected-language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header-wrap .header__languages label .header__selected-language .header__select-lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

header .header-wrap .header__languages label .header__selected-language .header__select-lang .flag {
  height: 28px;
  width: 28px;
  border-radius: 50%;
}

header .header-wrap .header__languages label .header__selected-language .header__select-lang .language {
  padding: 4px 0;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
}

header .header-wrap .header__languages label .header__selected-language .header__select-lang:hover {
  cursor: pointer;
}

header .header-wrap .header__languages label .header__selected-language .header__other-langueges {
  display: none;
  position: absolute;
  margin-left: -0.5em;
  margin-top: 2.25em;
  z-index: 999999;
  -webkit-box-shadow: 0 4px 8px 0px #aaa;
          box-shadow: 0 4px 8px 0px #aaa;
}

header .header-wrap .header__languages label .header__selected-language .header__other-langueges .other-language-item {
  padding: 8px 16px;
  background-color: #fff;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  -webkit-transition: 0.3s ease-in-out all;
  transition: 0.3s ease-in-out all;
}

header .header-wrap .header__languages label .header__selected-language .header__other-langueges .other-language-item:hover {
  cursor: pointer;
  background-color: #29558e;
  color: #fff;
}

header .header-wrap .header__languages #languages:checked ~ .header__selected-language .header__other-langueges {
  display: block;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

footer .footer__sub-footer {
  height: 70px;
  background-color: #5477a4;
}

footer .footer__sub-footer .footer__sub-footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 23px 0;
}

footer .footer__sub-footer .footer__sub-footer-wrap .footer__sub-footer_t-year {
  font-size: 14px;
  line-height: 24px;
  color: #D9DBE1;
  font-family: 'Inter', sans-serif;
}

footer .footer__sub-footer .footer__sub-footer-wrap .footer__social-medias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 144px;
}

footer .footer__sub-footer .footer__sub-footer-wrap .footer__social-medias .social-media {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #F9F8F91a;
  text-align: center;
}

footer .footer__sub-footer .footer__sub-footer-wrap .footer__social-medias .social-media:before {
  line-height: 24px;
  color: #fff;
  font-size: 13px;
}

footer .footer__sub-footer .footer__sub-footer-wrap .footer__social-medias .social-media:hover {
  cursor: pointer;
}

.lang-item {
  color: #000 !important;
  text-transform: unset !important;
}

aside.sidebar {
  width: 320px;
  background-color: #fff;
  border: 1px solid #f0edf3;
  margin-right: 40px;
}

aside.sidebar .sidebar__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fdfbfc;
  height: 90px;
  padding: 0 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid #f0edf3;
}

aside.sidebar .sidebar__searching-blocks {
  padding: 30px 32px;
}

aside.sidebar .sidebar__searching-blocks .sidebar__searching-block {
  padding-bottom: 50px;
}

aside.sidebar .sidebar__searching-blocks .sidebar__searching-block .sidebar__searching-block-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0;
}

aside.sidebar .sidebar__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 55.5px;
  border-top: 1px solid #f0edf3;
}

aside.sidebar .sidebar__footer .sidebar__footer-btn {
  padding: 14.5px 67px;
}

aside.sidebar .sidebar__caption {
  line-height: 17px;
  font-size: 14px;
  font-weight: 600;
}

aside.sidebar .sidebar__label {
  line-height: 17px;
  font-size: 14px;
  font-weight: 400;
}

aside.sidebar .sidebar__clear {
  font-size: 10px;
  text-align: right;
  text-transform: uppercase;
  line-height: 12px;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.searching {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #f0edf3;
  margin-bottom: 40px;
}

.searching .searching__form-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 27px;
  background-color: #f5f3f7;
  border-radius: 25px;
  padding: 15px;
  position: relative;
  width: 100%;
  border: 1px solid #fff;
}

.searching .searching__form-control .icon-search {
  font-size: 20px;
  margin-right: 12px;
  color: #969696;
}

.searching .searching__form-control input[type="text"] {
  border: none;
  background-color: transparent;
  outline: none;
  width: 100%;
}

.searching .searching__form-control .searching__hinting {
  display: none;
  width: 100%;
  position: absolute;
  top: 62px;
  background: #ffffff;
  border: 1px solid #e3e3e3;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  padding: 18px 0 12px;
  z-index: 999999;
  margin: 0 -15px;
}

.searching .searching__form-control .searching__hinting .searching__hinting-item {
  padding: 9px 24px;
  list-style-type: none;
}

.searching .searching__form-control .searching__hinting .searching__hinting-item:hover {
  background: #F2F2F2;
  cursor: pointer;
}

.searching .searching__form-control.focused {
  border: 1px solid #29558E;
}

.searching .btn-search {
  padding: 19px 38px;
}

.pagination {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 1em 0;
}

.pagination .pagination-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.pagination .pagination-wrap .numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.pagination .pagination-wrap .numbers span {
  color: #969696;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  margin: 0 .75em;
  cursor: pointer;
}

.pagination .pagination-wrap .numbers span.active {
  cursor: default;
  width: 25px;
  height: 25px;
  color: #fff;
  background-color: #29558e;
  border-radius: 50%;
}

.pagination .pagination-wrap .arrow {
  color: #969696;
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  line-height: 24px;
  cursor: pointer;
  margin: 0 .75em;
}

.person-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 99px;
}

.person-list .person-list__wrapper {
  width: 100%;
  position: relative;
}

.person-list .person-list__wrapper .person-list__grid {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 27px;
  grid-row-gap: 30px;
  -ms-grid-columns: calc(25% - 81px/4) calc(25% - 81px/4) calc(25% - 81px/4) calc(25% - 81px/4);
      grid-template-columns: calc(25% - 81px/4) calc(25% - 81px/4) calc(25% - 81px/4) calc(25% - 81px/4);
  margin-bottom: 50px;
}

.person-list .person-list__wrapper .person-list__grid a.person-list__item {
  cursor: pointer;
  color: #000;
  text-decoration: none;
}

.person-list .person-list__wrapper .person-list__grid a.person-list__item .person-img {
  position: relative;
}

.person-list .person-list__wrapper .person-list__grid a.person-list__item .person-img img {
  width: 100%;
  height: 332px;
}

.person-list .person-list__wrapper .person-list__grid a.person-list__item .person-img .person-name {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 0 25px 15px;
  font: 700 18px / 24px Montserrat, sans-serif;
  color: #fff;
  text-align: center;
  -webkit-transition: padding 0.25s ease 0s;
  transition: padding 0.25s ease 0s;
}

.person-list .person-list__wrapper .person-list__grid a.person-list__item .person-img::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 216px;
  background: url(/static/staff/img/guide_shadow.png) repeat-x 50%;
}

.person-list .person-list__wrapper .person-list__grid a.person-list__item .person__sub-title {
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  font-family: "Montserrat", sans-serif;
  margin-top: 15px;
}

.person-list .person-list__wrapper .person-list__grid a.person-list__item:hover .person-name {
  padding: 0 25px 25px;
}

.person-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.person-show .person-show__wrapper {
  width: 100%;
}

.person-show .person-show__wrapper .person-show__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.person-show .person-show__wrapper .person-show__row .person-show__image {
  margin-right: 45px;
}

.person-show .person-show__wrapper .person-show__row .person-show__image img {
  width: 250px;
  height: 332px;
}

.person-show .person-show__wrapper .person-show__row h1.person-show__fullname {
  font-size: 36px;
  line-height: 44px;
  margin: 0;
}

.person-show .person-show__wrapper .person-show__row h3.person-show__position {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 5px 0;
}

.person-show .person-show__wrapper .person-show__row p.person-show__short-info {
  margin: 10px 0;
  font-size: 16px;
  line-height: 20px;
}

.person-show .person-show__wrapper .person-show__row .person-show__rating {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
  margin-top: 37px;
}

.person-show .person-show__wrapper .person-show__row .person-show__rating .star {
  padding-right: 19px;
}

.person-show .person-show__wrapper .person-show__row .person-show__rating .star img {
  width: 60px;
  height: 70px;
}

.person-show .person-show__wrapper .person-show__row .person-show__rating .star:last-child {
  padding-right: 0;
}

.person-show .person-show__wrapper .person-show__row .person-show__biography {
  margin: 50px 0 0 295px;
  font-size: 16px;
  line-height: 26px;
  text-align: justify;
}

.person-show .person-show__wrapper .person-show__row .person-show__biography .person-show__biography-caption {
  padding-bottom: 15px;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.person-show .person-show__wrapper .person-show__row .person-show__biography p {
  margin: 0;
}
/*# sourceMappingURL=style.css.map */