{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
        <title>Employees</title>
    {% endblock title %}
    
    <link rel="stylesheet" href="{% static 'staff/css/style.css' %}">
    <link rel="shortcut icon" href="{%  static 'staff/favicon.ico' %}">

</head>

<body>
   <header>
        <div class="container">
            <div class="header-wrap">
                <div class="header__logo">
                    <a href="{% url 'employees' %}">
                        <img src="{% static 'staff/img/utc23.svg' %}" style="width:240px;height:38px" alt="logo" class="logo">
                    </a>
                </div>
                 <nav>
                    <div class="navbar__menu">
                        <a href="{% url 'about'%}" class="navbar__menu-item">{% trans 'About site' %}</a>
                        
                    </div>
                </nav>
                {% comment %} {% include 'staff/navbar_menu.html' %} {% endcomment %}
                {% include 'staff/select_language.html' %}
            </div>
        </div>
    </header>
    <main>
   
        <div class="container">
            <section class="{% if request.path == "/" %}person-list{% elif request.path == "/about" %}{% else %}person-show{% endif %}">
                {% include 'staff/filter_form.html' %}
                        {% block content %}
                        {% endblock content %}
            </section>
        </div>
    </main>
    
    {% include 'staff/footer.html' %}
    <script src="{% static 'staff/js/slider-range.js' %}"></script>
    {% comment %} <script>
        function changeLanguage(languageCode) {
            document.cookie = `django_language=${languageCode}; path=/`
            location.reload()
        }
        function clearOrganizations(){
           const filter_form = document.getElementById("filter_form")
           const organization = document.getElementsByName("organization")
           organization[0].checked = false;
            filter_form.submit();
        }
        function clearRewardTypes(){
           const filter_form = document.getElementById("filter_form")
           const organization = document.getElementsByName("reward_type")
           if(organization?.length) {
               organization.forEach(org => {
                   org.checked = false;
               })
           }
            filter_form.submit();
        }
    </script> {% endcomment %}
    </body>
</html>