{% extends 'staff/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    <title>{{ employee.full_name }}</title>
{% endblock title %}
{% block content %}
<link rel="stylesheet" href="{% static 'staff/css/e_detail.css' %}">
<div class="person-show__wrapper">
    <div class="person-show__row">
        <div class="person-show__image">
            <img src="{{employee.photo.url}}" alt="">
        </div>
        <div class="person-show__main-infomations">
            <h1 class="person-show__fullname">{{employee.full_name}}</h1>
            <h3 class="person-show__position">{{employee.position.name}}-{{employee.organization.name}}</h3>
            <p class="person-show__short-info">{% trans "Birthday" %} : {{employee.birthday|date:"d.m.Y"}}. {% trans "Nationality"%} : {{employee.nationality.nation}}.</p>
            <div class="person-show__rating">
                {% for reward in rewards %}
                <div class="tooltip">
                <span class="star" onclick="openModal({{reward.id}})"><img src="{{reward.imageUrl}}" style="width:60px;height:70px"></span>
                <span class="tooltiptext">
                  <b>"{{ reward.name }}"</b>
                 </span>
               <!-- The Modal -->
                  <div id="myModal{{reward.id}}" class="modal">
                    <!-- Modal content -->
                    <div class="modal-content">
                      <span class="close" id="closeModal{{reward.id}}">&times;</span>
                      <table>
                        <tr>
                          <th>{% trans "Reward Name"%}</th>
                          <th>{% trans "Reward Type"%}</th>
                          <th>{% trans "Issued By"%}</th>
                          <th>{% trans "Organization Type"%}</th>
                          <th>{% trans "Date of Issue"%}</th>
                          <th>{% trans "Files"%}</th>
                        </tr>
                        <tr>
                          <td>{{ reward.name }}</td>
                          <td>{{ reward.type.name }}</td>
                          <td>{{ reward.issued_by.name }}</td>
                          <td>{{ reward.issued_by.type.name }}</td>
                          <td>{{ reward.date_of_issue|date:"d.m.Y" }}</td>
                          <td>
                          <ul style="list-style:inside">
                          {% for doc in reward.files.all  %}
                                <li><a href="{{doc.document.url}}" download style="color:blue">{{ doc.name }}</a></li>
                          {% endfor %}
                          </ul>
                          </td>
                        </tr>
                      </table>
                    </div>

                  </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
    <div class="person-show__row">
        <div class="person-show__biography" id="biography">
        <div class="person-show__biography-caption">{% trans "Biography" %}</div>
              {{ employee.biography|safe }}
        </div>
    </div>
</div>
<script src="{% static 'staff/js/e_detail.js' %}"></script>
<script>
    function removeTag(){
        const original = document.getElementById("biography");
        const regex = original.innerHTML.replace("<p>", '');
        original.innerHTML = regex;
    }
    removeTag();
</script>
{% endblock content %}

