{% extends 'staff/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

<div class="person-show__wrapper">
    <div class="person-show__row">
        <div class="person-show__image">
            <img src="{{employee.photo.url}}" alt="">
        </div>
        <div class="person-show__main-infomations">
            <h1 class="person-show__fullname">{{employee.full_name}}</h1>
            <h3 class="person-show__position">{{employee.position.name}}</h3>
            <p class="person-show__short-info">{{employee.birthday.year}}-yilda tug'ilgan. {% trans "Nationality"%}:{{employee.nationality.nation}}.</p>
            <div class="person-show__rating">
                {% for reward in rewards %}
                    <span class="star"><img src="{% static 'staff/img/Star.png' %}" alt="" srcset=""></span>
                {% endfor %}
               
            </div>
        </div>
    </div>
    <div class="person-show__row">
        <div class="person-show__biography-caption">{% trans "Biografiya" %}</div>
        <pre class="person-show__biography">{{ employee.biography|safe }}
        </pre>
    </div>
</div>

{% endblock content %}