{% load i18n %}
{% load get_list_filter %}
<form action="{% url 'employees' %}" method="get" id="filter_form">
    <aside class="sidebar">
        <div class="sidebar__header">
            <div class="sidebar__caption">
                {% trans "Advanced Search" %}
            </div>
            <a href="{% url 'employees' %}">
                <div class="sidebar__clear">
                {% trans "clear all"%}
                </div>
            </a> 
        </div>
        <div class="sidebar__searching-blocks">
            <div class="sidebar__searching-block">
                <div class="sidebar__searching-block-row">
                    <div class="sidebar__caption">
                        {% trans "Organization Types"%}
                    </div>
                    <div class="sidebar__clear" onclick="clearOrganizations()">
                        {% trans "clear"%}
                    </div>
                </div>
                {% for org_type in organization_types %}
                    <div class="sidebar__searching-block-row">
                        <div class="sidebar__label">
                            {{org_type.name}}
                        </div>
                        <label class="checkbox-container">
                            <input type="checkbox" name="org_type" value="{{org_type.name}}" {% if org_type.name in request.GET|get_list:"org_type" %} checked {% endif %} />
                            <span class="checkmark"></span>
                        </label>
                    </div>
                {% endfor %}  
            </div>
            <div class="sidebar__searching-block">
                <div class="sidebar__searching-block-row">
                    <div class="sidebar__caption">
                        {% trans "Issued Date"%}
                    </div>
                    <div class="sidebar__clear" onclick="clearDateRange()" >
                        {% trans "clear"%}
                    </div>
                </div>
                <div class="range-input">
                    <input type="hidden" id="min_year" name="min_year" value="{{request.GET.min_year}}">
                    <input type="hidden" id="max_year" name="max_year" value="{{request.GET.max_year}}">
                    <div class="dual-range" data-min="1991" data-max="{% now "Y" %}" id='slider_range'>
                        <span class="handle left" id="minimum_date"></span>
                        <span class="highlight" ></span>
                        <span class="handle right" id="maximum_date"></span>
                    </div>
                </div>

            </div>
            <div class="sidebar__searching-block">
                <div class="sidebar__searching-block-row">
                    <div class="sidebar__caption">
                        {% trans "Reward Type"%}
                    </div>
                    <div class="sidebar__clear" onclick="clearRewardTypes()">
                        {% trans "clear" %}
                    </div>
                </div>
                {% for reward_type in reward_types  %}
                    <div class="sidebar__searching-block-row">
                        <div class="sidebar__label">
                            {{reward_type.name}}
                        </div>
                        <label class="checkbox-container">
                            <input type="checkbox" name="reward_type" value="{{reward_type.name}}" {% if reward_type.name in request.GET|get_list:"reward_type" %}checked{% endif %} />
                            <span class="checkmark"></span>
                        </label>
                    </div>
                {% endfor %}
            </div>
            <div class="sidebar__searching-block">
                <div class="sidebar__searching-block-row">
                    <div class="sidebar__caption">
                        {% trans "Gender" %}
                    </div>
                    <div class="sidebar__clear" onclick="clearGender()">
                        {% trans "clear" %}
                    </div>
                </div>
                <div class="sidebar__searching-block-row">
                    <div class="sidebar__label">
                        {% trans "Male" %}
                    </div>
                    <label class="checkbox-container">
                        <input type="checkbox" name="gender" value="male" {% if "male" in request.GET|get_list:"gender" %}checked{% endif %} />
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="sidebar__searching-block-row">
                    <div class="sidebar__label">
                        {% trans "Female" %}
                    </div>
                    <label class="checkbox-container">
                        <input type="checkbox" name="gender" value="female" {% if "female" in request.GET|get_list:"gender" %}checked{% endif %}/>
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="sidebar__footer">
            <button type="submit" class="sidebar__footer-btn">{% trans "Submit" %}</button>
        </div>
    </aside>
</form>
 <script>
        {% comment %} const slider = document.getElementById("slider_range")
        current_year = new Date().getFullYear()
        slider.dataset.max = current_year
        console.log(current_year,slider) {% endcomment %}
        function clearOrganizations(){
           const filter_form = document.getElementById("filter_form")
           const org_types = document.getElementsByName("org_type")
           if(org_types?.length) {
               org_types.forEach(org_type => {
                   org_type.checked = false;
               })
           }
           filter_form.submit();
        }
       
        function clearDateRange(){
           const filter_form = document.getElementById("filter_form")
           const min_date = document.getElementsByName("min_date")
           const max_date = document.getElementsByName("max_date")
            min_date.value = ""
            max_date.value = ""
            filter_form.submit();
        }

        function clearRewardTypes(){
           const filter_form = document.getElementById("filter_form")
           const reward_types = document.getElementsByName("reward_type")
           if(reward_types?.length) {
               reward_types.forEach(rew_type => {
                   rew_type.checked = false;
               })
           }
            filter_form.submit();
        }

         function clearGender(){
           const filter_form = document.getElementById("filter_form")
           const genders = document.getElementsByName("gender")
           if(genders?.length) {
               genders.forEach(gender => {
                   gender.checked = false;
               })
           }
            filter_form.submit();
        }
 </script>