<footer>
        <!-- <div class="container">
            <div class="footer__logo">
                <img src="" alt="logo">
            </div>
        </div> -->
        <div class="footer__sub-footer">
            <div class="container">
                <div class="footer__sub-footer-wrap">
                    <div class="footer__sub-footer_t-year">
                        © 2021 Lawliet. All rights reserved
                    </div>
                    <div class="footer__social-medias">
                        <span class="social-media ri-instagram-line"></span>
                        <span class="social-media ri-facebook-box-line"></span>
                        <span class="social-media ri-twitter-fill"></span>
                        <span class="social-media ri-youtube-fill"></span>
                    </div>
                </div>
            </div>
        </div>
    </footer>