{% extends 'staff/base.html' %}
{% load i18n %}
{% block content %}

<h3 style="text-align:center;margin:20px" >{{organization.name}}</h3>
    <table class="table">
    <thead class="thead-dark">
        <tr>
        <th scope="col">#</th>
        <th scope="col">{% trans "Full Name" %}</th>
        <th scope="col">{% trans "Reward Name" %}</th>
        <th scope="col">{% trans "Type"%}</th>
        <th scope="col">{% trans "Date Of Issue"%}</th>
        <th scope="col">{% trans "Description"%}</th>
        <th scope="col">{% trans "Reward Files"%}</th>
        </tr>
    </thead>
    <tbody>
        {% for reward in rewards %}
            <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ reward.name }}</td>
            <td>{{ reward.type }}</td>
            <td>{{ reward.issued_by }}</td>
            <td>{{ reward.date_of_issue }}</td>
            <td>{{ reward.description }}</td>
            {% for file in reward.files.all %}
                <td><a href="{{ file.document.url }}">{{file.name}}</a></td>
            {% endfor %}
            
            </tr>
        {% endfor %}
    </tbody>
    </table>
{% endblock content %}